menu "BLE Data (NimBLE)"
    depends on BT_NIMBLE_ENABLED

    config BLE_DATA_DEVICE_NAME
        string "Device name"
        default "BLE Data"
        help
            Device name

    choice
        prompt "Choose core for the BLE Data task"
        default BLE_DATA_TASK0

        config BLE_DATA_TASK0
            bool "core 0"

        config BLE_DATA_TASK1
            bool "core 1"

    endchoice

    config BLE_DATA_SECOND_CHANNEL
        bool "Second channel enabled"
        default y
        help
            Speed up data stream.

    config BLE_DATA_IBEACON_SCAN
        bool "BLE scan enabled"
        default n
        help
            BLE scan code included.

    config BLE_DATA_IBEACON_SCAN_TIMER
        depends on BLE_DATA_IBEACON_SCAN
        int "Set scan time in ms."
        range 1000 10000
        default 1500
        help
            Set scan time in ms. 

    config BLE_DATA_IBEACON_TX
        bool "iBeacon tx enabled"
        default n
        help
            iBeacon tx included.
                
endmenu
